@import url('./swap.css');
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Change the white to any color */
input:-webkit-autofill,
select:-webkit-autofill
{
	transition: background-color 5000s ease-in-out 0s;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
/* header */

.content {
    padding: 10px 10px;
    display: block;
    max-width: 1200px;
    margin: auto;
}
.top-header{
	width: 100%;
}
.header-container{
	max-width: 1200px;
    margin: auto;
	padding: 20px;
	background-position: center;
	background-repeat: no-repeat;
}
.mob{
	display: none;
	padding: 5px 10px;
	background-size: contain;
	background-position-x: right; 
}
.logo {
    max-width: 240px;
    max-height: 55px;
}
.logo_special {
    max-width: 150px;
	max-height: 55px;
}
.logo-container{
	max-height: 55px;
	max-width: 240px;
}
.cart {
	padding-top: 20px;
    float: right;
	font-size: 20px;
}

.header-text {
    border-top: 1px solid rgb(255 255 255 / 31%);
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

/* content */

.main-content {
	box-shadow: 0 7px 10px rgba(0,0,0,0.1);
    border-radius: 20px !important;
    padding: 20px !important;
	margin-bottom: 20px;
	position: relative;
	min-height: 300px;
	background: #fff;
}
.survey-container {
    border-radius: 20px !important;
    padding: 10px !important;
	position: relative;
	min-height: 300px;
}
.main-content .flag {
	min-height: inherit;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.intro-title {
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 20px;
}
.intro-title.uk {
    font-size: 38px;
}

.intro-title span {
    border-radius: 10px;
    padding: 0px 10px;
}

.intro-sub {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
}

.intro-sub .line {
    border-top: 1px solid #000;
    width: 100%;
}

.intro-sub p {
	display: inline-block;
	margin: auto;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: -15px;
    background-color: #ffffff;
    padding: 0px 10px;
}

.intro-product-name {
    font-size: 62px;
    font-weight: 700;
	margin-top: -20px;
	margin-bottom: 30px;
	line-height: 1;
}

.intro-text {
    font-size: 18px;
    line-height: 1.4 !important;
    padding-bottom: 20px;
}

.mobile-product {
    display: none;
}

.cta {
    border: 1px solid #DEDEDE;
    padding: 10px;
    border-radius: 20px;
}

.time-text {
    font-size: 18px;
    line-height: 1.3 !important;
}

.clock {
    width: 22px;
    display: inline-block;
    position: relative;
    margin-top: -4px;
}

#time, .orgn {
    font-weight: 700;
}

.continue-btn, .survey_button, .claim_btn, #btn-email,#noEmail, .answerOption, .continue_s {
    box-shadow: 0px 3px #000 !important;
    font-size: 20px;
    font-weight: 600;
    padding: 10px !important;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto !important;
    margin-bottom: 10px !important;
    border: none !important;
    border-radius: 20px !important;
    cursor: pointer;
	transition: transform .5s;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
}
.continue-btn:hover, .survey_button:hover, .claim_btn:hover, .continue_s:hover{
	text-decoration: none;
	transform: scale(1.05)
}

.continue-btn:active, .survey_button:active, .claim_btn:active, .continue_s:active{
	transform: scale(.9);
}



.checkmark{display:none}.checkmark.draw:after{animation-duration:.8s;animation-timing-function:ease;animation-name:checkmark;transform:scaleX(-1) rotate(135deg)}.checkmark:after{opacity:1;height:3.5em;width:1.75em;transform-origin:left top;border-right:3px solid #5cb85c;border-top:3px solid #5cb85c;content:"";left:1.75em;top:3.5em;position:absolute}@keyframes checkmark{0%{height:0;width:0;opacity:1}20%{height:0;width:1.75em;opacity:1}40%{height:3.5em;width:1.75em;opacity:1}100%{height:3.5em;width:1.75em;opacity:1}}.circle-loader{-webkit-animation-fill-mode: forwards;border:1px solid rgba(0,0,0,.2);border-left-color:#5cb85c;animation:loader-spin 1.2s infinite linear;-webkit-animation-fill-mode: forwards;position:relative;display:inline-block;vertical-align:top;border-radius:50%;width:7em;height:7em}.load-complete{-webkit-animation-fill-mode: forwards;-webkit-animation:none;animation:none;border-color:#5cb85c;transition:border .5s ease-out}@keyframes loader-spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.confeti{position:relative;min-height:100vh;overflow:hidden}[class|=confetti]{position:absolute}.red{background-color:#e94a3f}.yellow{background-color:#faa040}.blue{background-color:#5fc9f5}
/*@-webkit-keyframes draw-check {
    0% {
        stroke-dasharray: 49, 80;
        stroke-dashoffset: 48;
        opacity: 0
    }
    50% {
        stroke-dasharray: 49, 80;
        stroke-dashoffset: 48;
        opacity: 1
    }
    to {
        stroke-dasharray: 130, 80;
        stroke-dashoffset: 48
    }
}

@keyframes draw-check {
    0% {
        stroke-dasharray: 49, 80;
        stroke-dashoffset: 48;
        opacity: 0
    }
    50% {
        stroke-dasharray: 49, 80;
        stroke-dashoffset: 48;
        opacity: 1
    }
    to {
        stroke-dasharray: 130, 80;
        stroke-dashoffset: 48
    }
}

@-webkit-keyframes draw-circle {
    0% {
        stroke-dasharray: 0, 330;
        stroke-dashoffset: 0;
        opacity: 1
    }
    80% {
        stroke-dasharray: 330, 330;
        stroke-dashoffset: 0;
        opacity: 1
    }
    to {
        opacity: .4
    }
}

@keyframes draw-circle {
    0% {
        stroke-dasharray: 0, 330;
        stroke-dashoffset: 0;
        opacity: 1
    }
    80% {
        stroke-dasharray: 330, 330;
        stroke-dashoffset: 0;
        opacity: 1
    }
    to {
        opacity: .4
    }
}

@keyframes checkmark{
	0%{
		height:0;
		width:0;
		opacity:1
	}20%{
		height:0;
		width:1.75em;
		opacity:1
	}40%{
		height:3.5em;
		width:1.75em;
		opacity:1
	}100%{
		height:3.5em;
		width:1.75em;
		opacity:1
	}
} */

#svg-box .checkmark__check {
    -webkit-animation: draw-check 1s ease-out;
    animation: draw-check 1s ease-out
		
}

.desktop-only{
	padding-right: 30px;
	text-align: center;
}

img {
    max-width: 100%;
}

.disclaimer, .disclaimer.uk, .disclaimer_s{
	line-height: 1.3 !important;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    width: 100%;
    margin: auto;
	color: #888;
	background: rgba(255, 255, 2555, .7);
}
.disclaimer_s{
	display: none;
	overflow: hidden;
	white-space: nowrap;
	width: 45%;
	cursor: pointer;
	position: relative;
}
.all_tx{
	overflow: unset;
	width: 100%;
	white-space: unset;
}
.disclaimer_s:after{
	content: '...';
    background: #fff;
    position: absolute;
    right: -1px;
}
.all_tx:after{
	content: '';
	background: transparent;
}
/* content survey */

.question {
    font-size: 18px;
    display: block;
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px !important;
    line-height: 1.2 !important;
}
.survey_button {
    font-size: 20px;
    text-align: center;
}
button:focus{
    outline: none;   
}
button{
    cursor: pointer;
}
#q2, #q3, #q4, #q5, #q6, #q7, #content2, .result, #content3 {
    display: none;
}
#content3{
	min-width: 200px;
}
.reward-page .reward{
	margin-bottom: 20px;
	padding: 40px 20px !important;
}
.main-content h2, .name, .result {
    font-weight: 700;
}
#content2 h2{
	margin-top: 30px;
}
.result-wrap {
    max-width: 600px;
    margin: auto;
}

.product-title {
    font-weight: 700;
    font-size: 18px;
}

.mobile-only {
    display: none;
}

#svg-box {
    display: block;
    position: relative;
    width: 150px;
    margin: 0 auto;
}

#svg-box svg {
    stroke: #01bd22;
}

#svg-box circle {
    stroke-dasharray: 330;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    opacity: .4;
    -webkit-animation: draw-circle .7s ease-out;
    animation: draw-circle .7s ease-out;
}

#svg-box .checkmark {
    stroke-width: 6.25;
    stroke-linecap: round;
    position: absolute;
    top: 56px;
    left: 49px;
    width: 52px;
    height: 40px;
    display: block;
}
.p_modal h2 {
    color: #575757;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    display: block;
}

.p_modal p {
    color: #797979;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    position: relative;
    float: none;
    margin: 10px 0;
    padding: 0;
    line-height: normal;
}

.p_modal {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.comment{
	padding: 2% 5%;
	border-bottom: 1px solid #eee;
}
.comment p{
	margin-left: 85px;
}
.comment-page {
	box-shadow: 0 7px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-top: 10px;
	padding: 40px 20px !important;
	background: #fff;
	margin-bottom: 100px;
}
.comment-img {
    display: inline-block;
    border-radius: 50%;
    vertical-align: top;
}
.comment .desc {
    display: inline-block;
    margin-left: 30px;
    font-size: 14px;
}
.vicon {
    width: 16px;
    margin: 7px;
}
.vtext {
    font-size: 10px;
    padding-left: 4px;
    font-style: italic;
    color: #4CAF50;
    font-weight: bold;
}
.comment-rating-img {
    width: 62px;
}
.comment-time {
    font-size: 12px;
    margin-left: 10px;
}
.comment-rating {
    display: block;
    margin-bottom: 15px;
}


.reward:nth-child(1) {
  border-top: 8px solid #86daff;
}
.reward:nth-child(2) {
  border-top: 8px solid #45c355;
}
.badge-wrap {
  position: absolute;
  right: -18px;
  top: 30px;
  background-color: #86daff;
  width: 180px;
  padding: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 5px 0px 0px 5px;
  text-align: center;
  border: 1px solid #3bcae2;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 13%);
}
.badge-wrap:before {
  content: ' ';
  width: 50px;
  height: 30px;
  background-color: #3ccae2;
  position: absolute;
  right: 3px;
  top: -14px;
  transform: rotate(26deg);
  z-index: -999;
}
.badge-wrap, .badge-wrap .top, .badge-wrap .popular {
  display: none;
}
.reward:nth-child(1) .badge-wrap, .reward:nth-child(2) .badge-wrap {
  display: block;
}
.reward:nth-child(1) .badge-wrap .top {
  display: block;
}
.reward:nth-child(2) .badge-wrap .popular {
  display: block;
}
.reward:nth-child(2) .badge-wrap {
  background-color: #72d562;
  border: 1px solid #50d861;
}
.reward:nth-child(2) .badge-wrap:before {
  background-color: #45c355;
}
.tick-icon {
  width: 18px;
  margin-right: 8px;
}


#policy-close {
	text-align: center;
    width: 30px;
    height: 30px;
    background: gray;
    float: right;
	cursor: pointer;
}
#policy-close img {
    width: 14px;
    padding-top: 7px;
}
#policy-content{
	padding: 30px;
    overflow: auto;
    height: 700px;
    margin-top: 30px;
}
#policy-wrap {
    display: none;
    width: 70%;
    height: 80%;
    padding: 0;
    position: fixed;
    text-align: justify;
    z-index: 999999999;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    -webkit-animation: zoom-in 1s 1 cubic-bezier(.77, 0, .175, 1);
    animation: zoom-in 1s 1 cubic-bezier(.77, 0, .175, 1);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    background-color: #fff;
    -webkit-transition: 300ms all cubic-bezier(.4, 0, .2, 1);
    transition: 300ms all cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 8px 60px 0 rgb(0 0 0 / 31%), 0 12px 90px 0 rgb(0 0 0 / 42%);
    border-radius: 8px;
}

/*reward wrapper */
.image{
	text-align: center;
	max-height: 200px;
}
.hidden{
	padding-bottom: 25px;
	animation: move-in 2s ease-in-out forwards;
    transition: .5s all;
}
.reward:hover {
    box-shadow: 0 3px 15px rgb(0,0,0,0.2);
    transform: scale(1.01);
    z-index:0;
}
.reward{
	box-shadow: 0 7px 10px rgba(0,0,0,0.1);
	margin-top: 10px;
	margin-left: 0px!important;
	margin-right: 0px!important;
	padding: 20px 30px;
	background-color: #fff;
	position: relative;
	border-top: 8px solid #86daff;
	border-radius: 20px;
	-webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.reward .description i {
    font-size: 14px;
	display: block;
}
.reward.out{
	opacity: .5;
}
.reward .image-wrapper .image a img {
	width: auto;
    height: 200px;
	max-width: 100%!important;
}

#claim_btn_0{
	border-radius: 30px;
	padding: 10px;
	width: 100%;
	cursor: pointer;
}

.badge-wrap {
    position: absolute;
    right: -18px;
    top: 30px;
    width: 180px;
    padding: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    border: 1px solid #3bcae2;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 13%);
}

.red-price{
	color:red;
}
.green-price{
	color: green;
	font-weight: bold;
    font-size: 18px;
}

.footer {
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    font-size: 10px;
	background-color: rgba(255,255,255,0.2);
    margin-top: 20px;
    left: 50.2%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 1185px;
    margin:0 auto;
	position: fixed;
}
#policy-btn, #terms-btn {
    cursor: pointer;
	text-decoration: underline;
}
.image-wrapper{
	position: inherit;
}


/*Boxes*/
.boxes {
    background-size: cover;
    border-radius: 20px;
    position: relative;
    text-align: center;
	margin: 10px auto;
    max-width: 800px;
}
.boxes .try {
    position: relative;
    display: inline-block;
    width: 23.8%;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer;
}
.boxes .try.prize .box_gift {
    animation: superior_cover 4s forwards;
}
.try {
    position: relative;
    margin: 20px 0;
}
.try div {
    position: absolute;
}
.try .box {
    position: relative;
}
.box {
    z-index: 2;
}
.box_cover {
    z-index: 3;
}
.box_back, .box_gift {
    z-index: 1;
}
.box_gift {
    width: 100%;
    text-align: center;
}
.boxes, .boxes cbox, .boxes .try img {
    width: 100%;
}
.div_img_gift {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center;
}
.img_gift {
    display: none;
    width: 70%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    margin: 0 auto;
}
@-webkit-keyframes rotateIn{0%{
	-webkit-transform-origin:center;
	transform-origin:center;
	-webkit-transform:rotate3d(0,0,1,-200deg);
	transform:rotate3d(0,0,1,-200deg);opacity:0
	}
100%{
	-webkit-transform-origin:center;
	transform-origin:center;-webkit-transform:none;
	transform:none;opacity:1
	}
}
@keyframes rotateIn{
	0%{
		-webkit-transform-origin:center;
		transform-origin:center;
		-webkit-transform:rotate3d(0,0,1,-200deg);
		transform:rotate3d(0,0,1,-200deg);
		opacity:0}
	100%{
		-webkit-transform-origin:center;
		transform-origin:center;
		-webkit-transform:none;
		transform:none;opacity:1
	}
}

.tremor:hover{
	animation:tremor .82s cubic-bezier(.36,.07,.19,.97) both;
	transform:translate3d(0,0,0);
	backface-visibility:hidden;
	perspective:1000px
}
.boxes .try.open .box_cover {
    animation: superior_cover 2s forwards;
}
@keyframes superior_cover{
	from{
		top:0
	}to{
		top:-40px
	}
}
@keyframes tremor{
	10%,90%{transform:translate3d(-1px,0,0)}
	20%,80%{transform:translate3d(2px,0,0)}
	30%,50%,70%{transform:translate3d(-4px,0,0)}
	40%,60%{transform:translate3d(4px,0,0)}
}
.tremor_inf{
	animation:tremor_inf 2s;animation-iteration-count:infinite
}
@keyframes tremor_inf{
	0%{transform:translate(1px,1px) rotate(0)}
	10%{transform:translate(-1px,-2px) rotate(-1deg)}
	20%{transform:translate(-3px,0) rotate(1deg)}
	30%{transform:translate(3px,2px) rotate(0)}
	40%{transform:translate(1px,-1px) rotate(1deg)}
	50%{transform:translate(-1px,2px) rotate(-1deg)}
	60%{transform:translate(-3px,1px) rotate(0)}
	70%{transform:translate(3px,1px) rotate(-1deg)}
	80%{transform:translate(-1px,-1px) rotate(1deg)}
	90%{transform:translate(1px,2px) rotate(0)}
	100%{transform:translate(1px,-2px) rotate(-1deg)}
}

/*load gift*/
.load-complete {
	-webkit-animation-fill-mode: forwards;
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border .5s ease-out;
}
.circle-loader {
	-webkit-animation-fill-mode: forwards;
    border: 1px solid rgba(0,0,0,.2);
    border-left-color: #5cb85c;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 7em;
    height: 7em;
}
/* @keyframes loader-spin{
	0%{transform:rotate(0)}
	100%{transform:rotate(360deg)}
} */

#mainWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 47px;
  bottom: 70px;
	right: 54px;
}
.giftbox-container #mainWrapper{
  	width: 120px;
    right: 35px;
    bottom: 40px;
}

#cardsWrapper{
  display: flex;
  justify-content: space-between;
  position: relative;
	width: 47px;
}
.giftbox-container #cardsWrapper{
	width: 100px;
}

.card{
	border: none;
	width: 70px;
	height: 60px;
	perspective: 432px;
	background-color: transparent;
}
.giftbox-container .card{
	width: 100px;
}
.image{
	width: 100%;
	height: 100%;
	transform: rotateY(50deg) rotateX(-8deg) rotateZ(-10deg);
	transform-style: preserve-3d;
	-webkit-transform: rotateY(50deg) rotateX(-8deg) rotateZ(-10deg);
	-webkit-transform-style: preserve-3d;
}
.image.first{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	display: flex;
}
.screen{
  width: 100%;
  height: 100%;
  transform: translateZ(30px) scale(0.940);
  -webkit-transform: translateZ(30px) scale(0.940);
}
#questionTemplate{
	padding-top: 0!important;
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #94b4d7;
  color: #333;
}

.front {
  background-color: #e5e5e5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #333;
  clip-path: inset(0 0 0 0%);
  transition: clip-path 1s linear;
}
.progress {
  display: none;
  position: relative;
  height: 4px;
  font-size: 14px;
  overflow: hidden;
  border-radius: 0!important;
}
.text-percent-container{
	display: none;
	margin: auto;
	border: 1px solid #e5e5e5;
	font-weight: bold;
	margin-left: 15px;
    margin-right: 15px;
	padding: 4px;
	border-bottom: none;
}
.pb-cheers{
	font-weight: 100;
}
.giftbox-container{
	position: relative;
	width: 270px;
    height: 200px;
    margin: 0 auto;
}
.chance{
	font-size: 14px!important;
    font-weight: 400;
	display: block;
	margin-top: -8px;
	padding-right: 7px!important;
    letter-spacing: 4px;
}
.cht1{
	text-align: right;
	padding-right: 0;
}
.cht2{
	text-align: left;
}
.congrats_t{
	font-size: 32px!important;
    font-weight: bold!important;
    color: #000!important;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 25px!important;
	margin-bottom: 10px!important;
}
.congrats_p{
	margin-bottom: 0px!important;
}
.product_won{
	font-size: 43px!important;
	display: block;
	margin-bottom: 10px;
}
.box-text{
	border: 1px solid #000;
    display: inline-block!important;
    padding: 5px 15px!important;
	background-color: #fff;
}
.box-text-line{
	border-bottom: 1px solid #000;
    margin: -30px 40px 30px 40px;
}
.btn-claim-product{
	padding: 10px 40px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}
#email-form{
	display: none;
    padding-top: 20px;
}
.email-title{
	font-size: 22px;
    line-height: 24px;
    font-weight: bold;
	text-align: center;
}
.email-sub{
	padding-bottom: 20px;
}
#email-data, #zip-data, #phone-data, #state-data, #street-data, #city-data, #fname-data,#lname-data,#weight-data,#heightF-data,#heightI-data,.birth-container{
	box-shadow: inset 0 0 10px rgb(0 0 0 / 10%);
    border: 1px solid #999999;
    border-radius: 5px;
	display: block;
	width: 98%;
    font-size: 20px;
    color: #333;
    padding: 8px 20px;
	margin: auto;
	margin-bottom: 15px;
	background-color: #fff;
}
.birth-container{
	padding: 0 10px;
	background-color: #fff;
}
#month,#day,#year{
	margin: auto 0;
	margin-bottom: 15px;
}
.bdata{
	width: 100%;
	border: none;
	padding: 10px;
	background-color: transparent;
}
.inline{
	width: 49%!important;
}
#state-data, .city-container{
	display: none;
}
.state{
	width: 100%;
	border: none;
	margin-left: -5px;
}
#heightF-data,#heightI-data{
	display: inline-block;
	width: 48%;
}
#heightF-data{
	margin-right: 2px;
}
#heightI-data{
	margin-left: 2px;
}
#email:focus, .skip-mail:focus, #btn-email:focus, #zip-data:focus, #phone-data:focus{
    outline: none;
}
.skip-mail{
    font-size: 12px!important;
    color: #DEDEDE;
    background-color: transparent;
    padding: 10px 20px!important;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px !important;
    box-shadow: 0px 3px #000 !important;
    border: none;
	width: auto!important;
}
#noEmail,#enterEmail{
	font-size: 16px!important;
}
#email-data-btn, #zip-data-btn, #phone-data-btn{
	border:none;
	margin-left: 5px;
	width: 100%;
    font-size: 20px;
    height: 48px;
    margin-top: -5px;
	border-radius: 30px;
	display: block;
}
.formbad{
	border-color: #ff0000!important;
	box-shadow: 1px 1px 3px #ff0000!important;
}
#invalid{
	color:#ff0000;
}
.fa-star, .fa-star-half-alt{
	color: #FFB100;
}
#enterEmail{
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 30px;
	margin: auto;
	margin-top: -20px;
	display: block;
	font-size: 20px;
}
#email,#btn-email,.skip-mail{
	display: none;
}
.result-wrap p{
	display: inline-block;
	color: #D5d5d5;
	margin-left: 20px;
	margin-bottom: 0;
	text-align: left;
	transition: color .8s;
}
.result-wrap .circle-r1, .circle-r2, .circle-r3{
	display: inline-block;
	border: 1px solid #d5d5d5;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: relative;
	margin: auto;
	vertical-align: middle;
}
.circle-r1 i, .circle-r2 i, .circle-r3 i{
	position: relative;
	left: 3px;
    top: 5px;
    color: #d5d5d5;
    font-size: 2px;
    transition: font-size .5s;
	margin-top: -5px;
}
#divresult1,  #divresult2, #divresult3{
	margin-bottom: 5px;
}
.btn-light{
	border-color: #333;
    border-radius: 30px;
    background: rgba(255, 255, 2555, .6);
}
.btn-light:hover{
	background-color: #333;
	color: #fff;
}
.first{	
	overflow: hidden;
}
.image.first img{
	max-width: 80%;
	max-height: 80%;
	margin: auto;
}
.quantity{
	padding: 10px;
    border-top: 1px solid #d5d5d5;
    margin-top: 10px;
	color: #ff0000;
	font-size: 20px;
    font-weight: bold;
}
.quantity span span:nth-child(1){
	border: 1px solid #ff0000;
	padding: 1px 5px;
    margin-right: 5px;
}
.redtext{
	width: 100%;
	color: #e27312;
	padding: 10px;
	text-align: center;
	background: #fff5e4;
	font-size: 14px;
	margin-top: 10px;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
#weightbad{
	display: none;
}
.arrow{
	width: 30px;
	padding: 5px 0;
    position: absolute;
    left: 48%;
    z-index: 20;
    background: #fff;
    border-radius: 50%;
    font-size: 15px;
	bottom: -12px;
	text-align: center;
	cursor: pointer;
	color: #888;
}
.cart-container{
	margin: auto;
}
.cart-container .cart{
	padding: 0;
}
.hd-valentine{
	background-size: contain;
    background-position-x: 80%;
}
.hd-valentinem{
	display: none;
	background-size: contain;
    background-position: right;
}
@media only screen and (max-height: 850px){
	.footer{
		position: relative;
		left: 0;
		top: 0;
		transform: translate(0, 0);
		width: 100%;
	}
}
/*boxes img sizes*/
@media screen and (max-width: 850px){

	.footer{
		position: relative;
		left: 0;
		top: 0;
		transform: translate(0, 0);
		width: 100%;
	}
}

@media (max-width: 767px){

	.box-text-line{
   	 margin: -30px 10px 30px 10px;
	}
}
@media only screen and ( max-width: 736px){
	#mainWrapper .card{
		width: 50px!important;
	}
	#mainWrapper{
		bottom: 60px!important;
		right: 30px!important;
	}
	.giftbox-container #mainWrapper .card {
    	width: 80px!important;
	}
	.giftbox-container #mainWrapper {
    	bottom: 40px!important;
    	right: 28px!important;
	}
}
@media screen and (max-width: 705px){

	.hd-valentinem{
		display: block;
	}
	.hd-valentine, .cart-valentine{
		display: none;
	}
}
@media screen and (max-width: 558px){
	.chance{
		font-size: 10px!important;
		margin-top: -5px;
	}
}
@media only screen and (max-width: 500px){
	.header-container{
		padding: 10px 20px;
	}
	.intro.text-center{
		padding-top: 0!important;
	}
	.disclaimer_s{
		width: 100%;
	}
	.arrow{
		left: 45%;
	}
	.continue-btn{
		font-size: 18px;
	}
	.survey_button {
    	font-size: 18px;
	}
	.continue-btn:hover, .survey_button:hover, .claim_btn:hover, .continue_s:hover{
		transform: scale(1)
	}
	#state-data, .city-container{
		width: 100%!important;
	}
	.comment p{
		margin: 0;
	}
	.comment {
		margin-top: 20px;
	}
	.comment-page{
		padding: 10px!important;
	}
	.result-wrap p{
		width: 250px;
		margin: auto;
		margin-left: 10px;
		vertical-align: middle;
	}
	.result-wrap{
		text-align: center;
	}
	#p_modal3 img{
		max-width: 200px;
	}
	.product_won {
		font-size: 33px!important;
		line-height: 30px;
    	margin-bottom: 15px;
	}
	.congrats_t {
		font-size: 28px!important;
	}
	#policy-content{
		height: 600px!important;
		font-size: 12px;
	}
	#policy-wrap{
		width: 90%!important;
	}
	.intro-product-name{
		font-size: 42px;
		margin-bottom: 10px;
	}
	.desktop-product{
		margin-top: 0!important;
	}
	.mobile-product {
    	display: inline-block;
		max-width:250px;
	}
	.desktop-only {
    	display: none;
	}
	.intro-title, .intro-title.uk{
		font-size: 32px;
	}
	.intro-text{
		font-size: 13px;
    	padding-bottom: 0;
	}
	.header-text{
		font-size: 10px;
	}
	.time-text, .disclaimer.uk, .disclaimer_s {
    	font-size: 12px;
	}
	.time-text.uk{
		font-size: 11px;
	}
	
}
@media (max-width: 418px){
	.boxes .try {
		width: 48%;
	}
	.boxes .try:nth-child(-n+5) {
		display: none;
	}
	.box_gift {
		width: 25px !important;
		margin-top: 70px;
	}
}
@media only screen and ( max-width: 414px){

	#mainWrapper{
		bottom: 65px!important;
		right: 35px!important;
	}
	.mobile-product{
		max-width: 60%;
		margin: auto;
	}
}
@media only screen and ( max-width: 375px){
	#mainWrapper{
		right: 30px!important;
	}
	.main-content{
		padding-top: 25px!important;
	}
	.intro-product-name{
		font-size: 38px;
	}
	.intro-text{
		font-size: 14px;
	}

}
@media screen and (max-width: 347px){
	.box_gift {
		width: 15px !important;
		margin-top: 60px;
	}
}


@media only screen and (max-width: 320px){
	.result-wrap p{
		width: 170px;
	}
	#mainWrapper .card{
		width: 40px!important;
	}
	#mainWrapper{
		right: 16px!important;
		bottom: 55px!important;
	}
	.mobile-product{
		max-width: 50%;
	}
	.continue-btn, .survey_button, .claim_btn {
		font-size: 18px;
	}
	.intro-title{
		font-size: 26px;
	}
	.header-text{
		font-size: 8px;
	}
	.intro-text{
		font-size: 10px;
	}
	.main-content{
		padding-top: 15px!important;
	}
	.intro-text{
		font-size: 10px;
	}
	.intro-product-name{
		font-size: 25px;
	}
	.header-text{
		font-size: 10px;
	}
	.cta{
		padding: 10px;
	}
	.time-text{
		font-size: 10px;
	}
	.continue-btn{
		font-size: 16px;
	}
	.intro-title{
		font-size: 27px;
	}
	.comment .desc{
		margin: 0;
	}
	.chance{
		font-size: 12px!important;
		margin-top: -5px;
	}
}

@media (max-width: 270px){
	.boxes .try {
		width: 100%;
	}
	.boxes .try:nth-child(-n+6) {
		display: none;
	}
	.box_gift {
		width: 25px !important;
		margin-top: 58px;
	}
}
@media only screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0){ 
		.image-wrapper{
			height: auto;
		}
		#state-data {
			padding: 8px 20px 8px;
		}
		.state{
			-webkit-appearance:none;
		}
}

